&nbsp;
<form>
	<table class='form'>
        <col width = "125">
        <col width = "100">
        <col width = "200">
        {{#robot-detail changeset=changeset competitions=competitions updateCompetition="updateCompetition" changeRobotStatus='changeRobotStatus'}}
        <tr>
            <td></td>
            <td colspan="2">
                <button {{action 'rollback' changeset}}>Undo</button>
                <button {{action 'save' changeset}} disabled={{changeset.isInvalid}}>Save Changes</button>
            </td>
        </tr>
        <tr><td colspan="3"><hr/></td></tr>
        <tr>
            <td>
                Checked in:</td><td>{{model.formattedSignedIn}}
            </td>
            <td>
                {{#if changeset.signedIn}}
                    <button {{action 'signOut' changeset}}>Cancel Check in</button>
                {{else}}
                    <button {{action 'signIn' changeset}}>Check in</button>
                {{/if}}
            </td>
        </tr>
        <tr><td>Invoiced:</td><td>{{model.formattedInvoicedDollars}}</td></tr>
        <tr>
            <td>Paid:</td>
            <td>{{model.formattedPaidDollars}}</td>
            <td>
                {{#if model.isPaid}}
                    <button {{action 'refund'}}>Refund</button>
                {{else}}
                    <button {{action 'paid5Dollars'}}>Paid $5.00</button>
                    <button {{action 'paid10Dollars'}}>Paid $10.00</button>
                {{/if}}
            </td>
        </tr>
        <tr>
            <td>Measured:</td>
            <td>{{model.formattedMeasured}}</td>
            <td><button {{action 'toggleMeasured'}}>Toggle</button></td>
        </tr>
        <tr>
            <td>Late:</td>
            <td colspan="2">
            {{#if model.late}}
                LATE
            {{else}}
                ON-TIME
            {{/if}}
            </td>
        </tr>
        <tr><td colspan="3"><hr/></td></tr>
        {{/robot-detail}}
    </table>
    <button {{action "done"}}>Done</button>
</form>