{{this.poll this.refreshData 5000}}
<h3>{{this.model.tournament.competition.id}}  Ring {{this.model.tournament.ring}} Ranking </h3>
<ul>
  {{#each this.sortedRanking as |entry|}}
    <li>
      ID: {{entry.competitor_id}}, Score: {{entry.wins}}
    </li>
  {{/each}}
</ul>