<h3>Measurement Information</h3>


<p><b>Measured:</b> {{@data.formattedMeasured}}</p>
<table class="form" {{did-insert (fn this.PopulateRadioBoxes @data)}} >
  <thead>
    <th>Measurement</th>
    <th>Pass</th>
    <th>Fail</th>
  </thead>
  <tbody>
    {{#each this.requiredMeasurements as |measurement|}}
      <tr>
        <td>{{measurement}}:</td>
        <td>
         <input type="radio"
            {{on "click" (fn this.createMeasurement true measurement @data)}}
            checked={{this.isMeasured @data measurement true}}
          >
        </td>
        <td>
          <input type="radio"
            {{on "click" (fn this.createMeasurement false measurement @data)}}
            checked={{this.isMeasured @data measurement false}}
          >
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<table class="form">
  <thead>
    <th>Type</th>
    <th>Result</th>
    <th>Time</th>
  </thead>
  <tbody>
    <col>
    <col>
    <col>
    {{#each @data.measurement as |m|}}
      <tr>
        <td>{{m.type}}</td>
        <td>{{m.humanReadableResult}}</td>
        <td>{{moment-format m.datetime "h:mm:ss a"}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
