<h3>Check-in Information</h3>
<table class="form">
  <tbody>
    <tr>
      <td>Registered:</td>
      <td colspan="2">{{moment-format @data.registered "YYYY MMM DD, h:mm:ss"}}</td>
    </tr>
    <tr>
      <td>Checked in:</td>
      <td>{{@data.status}}</td>
      <td>
        {{#if (eq @data.status "CHECKED-IN")}}
          <button {{action "cancelCheckin" @data}}>
            Cancel Check in
          </button>
        {{else if (eq @data.status "WITHDRAWN")}}
          <button {{action "reinstate" @data}}>
            Reinstate
          </button>
        {{else}}
          <button {{action "checkIn" @data}}>Check in</button>
          <button {{action "withdraw" @data}}>Withdraw</button>
        {{/if}}
      </td>
    </tr>
    <tr>
      <td>Slotting Status:</td>
      <td>{{@data.slottedStatus}}</td>
      <td></td>
    </tr>
  </tbody>
</table>
