<h3>Check-in Information</h3>
<table class="form">
  <tbody>
    <tr>
      <td>Registered:</td>
      <td colspan="2">{{moment-format @data.registered "YYYY MMM DD, h:mm:ss"}}</td>
    </tr>
    <tr>
      <td>Checked in:</td>
      <td>{{@data.status}}</td>
      <td>
        {{#if (eq @data.status "CHECKED-IN")}}
          <button {{action "cancelCheckin" @data}}>
            Cancel Check in
          </button>
        {{else if (eq @data.status "WITHDRAWN")}}
          <button {{action "reinstate" @data}}>
            Reinstate
          </button>
        {{else}}
          <button {{action "checkIn" @data}}>Check in</button>
          <button {{action "withdraw" @data}}>Withdraw</button>
        {{/if}}
      </td>
    </tr>
    <tr>
      <td>Invoiced:</td>
      <td colspan="2">{{@data.formattedInvoicedDollars}}</td>
    </tr>
    <tr>
      <td>Paid:</td>
      <td>{{@data.formattedPaidDollars}}</td>
      <td colspan="2">
        {{#if @data.isPaid}}
          <button {{action "refund" @data}}>Refund</button>
          <select onchange={{
          action (action "selectPaymentType" @data)
          value="target.value"}}>
            <option value="" selected={{eq @data.paymentType null}} disabled={{true}}>
              Select payment method
            </option>
            {{#each this.PaymentOptions as |o|}}
              <option value={{o}} selected={{eq @data.paymentType o}}>
                {{o}}
              </option>
            {{/each}}
          </select>
        {{else}}
          <button {{action "paid10Dollars" @data}}>Paid $10.00</button>
          <button {{action "paid20Dollars" @data}}>Paid $20.00</button>
        {{/if}}
      </td>
    </tr>
    <tr>
      <td>On-time/Late:</td>
      <td>
        {{#if @data.late}}
          LATE
        {{else}}
          ON-TIME
        {{/if}}
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
