<h3>Check-in Information</h3>
<table class="form">
  <tbody>
    <tr>
      <td>Registered:</td>
      <td colspan="2">{{moment-format @data.registered "YYYY MMM DD, h:mm:ss"}}</td>
    </tr>
    <tr>
      <td>Checked in:</td>
      <td>{{@data.checkInStatus}}</td>
      <td>
        {{#if (eq @data.checkInStatus "CHECKED-IN")}}
          <button {{on "click" (fn this.cancelCheckin @data)}}>
            Cancel Check in
          </button>
        {{else if (eq @data.checkInStatus "WITHDRAWN")}}
          <button {{on "click" (fn this.reinstate @data)}}>
            Reinstate
          </button>
        {{else}}
          <button {{on "click" (fn this.checkIn @data)}}>Check in</button>
          <button {{on "click" (fn this.withdraw @data)}}>Withdraw</button>
        {{/if}}
      </td>
    </tr>
    <tr>
      <td>Slotting Status:</td>
      <td>{{@data.slottedStatus}}</td>
      <td></td>
    </tr>
  </tbody>
</table>
