<h3>Payment Information</h3>
<table class="form">
  <tbody>
    <tr>
      <td>Invoiced:</td>
      <td colspan="2">{{@data.formattedInvoicedDollars}}</td>
    </tr>
    <tr>
      <td>Paid:</td>
      <td>
        <select {{on "change" (val (fn this.selectPaymentType @data))}} disabled={{@data.isPaid}}>
          <option value="" selected={{eq @data.paymentType null}} disabled={{true}}>
            Select payment method
          </option>
          {{#each this.PaymentOptions as |o|}}
            <option value={{o}} selected={{eq @data.paymentType o}}>
              {{o}}
            </option>
          {{/each}}
        </select>
      </td>
      <td colspan="2">
        {{#if (eq @data.paymentType "INVOICED") }}
            Invoiced
        {{else if (eq @data.paymentType "COMPLEMENTARY")}}
            Complementary
        {{else if (not-eq @data.paymentType null)}}
          {{#if @data.isPaid}}
            {{@data.formattedPaidDollars}}
            <button {{on "click" (fn this.refund @data)}}>Refund</button>
          {{else}}
            <button {{on "click" (fn this.paid @data "10")}}>Paid $10.00</button><br>
            <button {{on "click" (fn this.paid @data "20")}}>Paid $20.00</button>
          {{/if}}
        {{/if}}
      </td>
    </tr>
    <tr>
      <td>On-time/Late:</td>
      <td>
        {{#if @data.late}}
          LATE
        {{else}}
          ON-TIME
        {{/if}}
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
