<h3>Measurement Information</h3>

<p><b>Measured:</b> {{@data.formattedMeasured}}</p>
<table class="form" {{did-insert (action this.PopulateRadioBoxes @data)}}>
  <thead>
    <th>Measurement</th>
    <th>Pass</th>
    <th>Fail</th>
  </thead>
  <tbody>
    {{#each this.requiredMeasurements as |measurement|}}
      <tr>
        <td>{{measurement}}:</td>
        <td>
          <RadioButton @value={{true}} @groupValue={{get this measurement}} @changed={{action createMeasurement true measurement @data}}>
          </RadioButton>
        </td>
        <td>
          <RadioButton @value={{false}} @groupValue={{get this measurement}}  @changed={{action createMeasurement false measurement @data}}>
          </RadioButton>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<table class="form">
  <thead>
    <th>Type</th>
    <th>Result</th>
    <th>Time</th>
  </thead>
  <tbody>
    <col>
    <col>
    <col>
    {{#each @data.measurements as |m|}}
      <tr>
        <td>{{m.type}}</td>
        <td>{{m.humanReadableResult}}</td>
        <td>{{moment-format m.datetime "h:mm:ss a"}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
