{{#with (changeset @data) as |changeset|}}
  <h3>Payment Information</h3>
  <table class="form">
    <tbody>
      <tr>
        <td>Invoiced:</td>
        <td colspan="2">{{changeset.formattedInvoicedDollars}}</td>
      </tr>
      <tr>
        <td>Paid:</td>
        <td>
          <select {{on "change" (val (fn this.selectPaymentType changeset))}} disabled={{changeset.isPaid}}>
            <option value="" selected={{eq changeset.paymentType null}} disabled={{true}}>
              Select payment method
            </option>
            {{#each this.PaymentOptions as |o|}}
              <option value={{o}} selected={{eq changeset.paymentType o}}>
                {{o}}
              </option>
            {{/each}}
          </select>
        </td>
        <td colspan="2">
          {{#if (eq changeset.paymentType "INVOICED")}}
            Invoiced
          {{else if (not-eq changeset.paymentType null)}}
            {{#if changeset.isPaid}}
              {{changeset.formattedPaidDollars}}
              <button {{on "click" (fn this.refund changeset)}}>Refund</button>
            {{else}}
              <button {{on "click" (fn this.paid changeset "10")}}>Paid $10.00</button><br>
              <button {{on "click" (fn this.paid changeset "20")}}>Paid $20.00</button>
            {{/if}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>On-time/Late:</td>
        <td>
          {{#if changeset.late}}
            LATE
          {{else}}
            ON-TIME
          {{/if}}
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
{{/with}}
