  <h3>Registration Details</h3>
  <table class="form">
    <tbody>
      <tr>
        <td>Robot Name:</td>
        <td>
          <Input
            class={{if (@changeset.error.name) "full-width-error" "full-width"}}
            @value={{@changeset.name}}
          />
        </td>
      </tr>
      <tr>
        <td>Driver 1:</td>
        <td>
          <Input
            class={{if (@changeset.error.driver1) "full-width-error" "full-width"}}
            @value={{@changeset.driver1}}
          />
        </td>
      </tr>
      <tr>
        <td>Driver 1 Grade:</td>
        <td>
          <Input class="full-width" @value={{@changeset.driver1gr}} />
        </td>
      </tr>
      <tr>
        <td>Driver 2:</td>
        <td>
          <Input class="full-width" @value={{@changeset.driver2}} />
        </td>
      </tr>
      <tr>
        <td>Driver 2 Grade:</td>
        <td>
          <Input class="full-width" @value={{@changeset.driver2gr}} />
        </td>
      </tr>
      <tr>
        <td>Driver 3:</td>
        <td>
          <Input class="full-width" @value={{@changeset.driver3}} />
        </td>
      </tr>
      <tr>
        <td>Driver 3 Grade:</td>
        <td>
          <Input class="full-width" @value={{@changeset.driver3gr}} />
        </td>
      </tr>
      <tr>
        <td>School:</td>
        <td>
          <Input
            class={{if @changeset.error.school "full-width-error" "full-width"}}
            @value={{@changeset.school}}
          />
        </td>
      </tr>
      <tr>
        <td>Coach:</td>
        <td>
          <Input
            class={{if @changeset.error.coach "full-width-error" "full-width"}}
            @value={{@changeset.coach}}
          />
        </td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>
          <Input
            class={{if @changeset.error.email "full-width-error" "full-width"}}
            @value={{@changeset.email}}
          />
        </td>
      </tr>
      <tr>
        <td>Ph:</td>
        <td>
          <Input
            class={{if @changeset.error.ph "full-width-error" "full-width"}}
            @value={{@changeset.ph}}
          />
        </td>
      </tr>
    </tbody>
  </table>
