<h2>{{this.model.longName}}</h2>
<h3>Competition Capacity</h3>
<p>
  {{#with (changeset this.model) as |changeset|}}
    <table class="form">
      <tbody>
        <tr>
          <td><b>Entries:</b></td>
          <td><Input @value={{changeset.maxEntries}} type="number" title="This will commit the new maximum entries value." /></td>
        </tr>
        <tr>
          <td><b>Rings:</b></td>
          <td><Input @value={{changeset.rings}} type="number" title="This is the number of rings that will be used." /></td>
        </tr>
        <tr>
          <td><b>Maximum Entries per ring:</b></td>
          <td><Input @value={{changeset.maxRobotsPerRing}} type="number" title="This is the maximum allowable number of robots in a given ring" /></td>
        </tr>
        <tr>
          <td><b>Minimum Entries per ring:</b></td>
          <td><Input @value={{changeset.maxRobotsPerRing}} type="number" title="This is the maximum allowable number of robots in a given ring" /></td>
        </tr>
      </tbody>
    </table>
    <button {{action "save" changeset}}>Save</button>
    <button {{action "rollback" changeset}}>Undo</button>
  {{/with}}
</p>
<hr>
<h3>Restart Measurements</h3>
<p>
  <button title="Clicking this button will cause all robot in this
competition to be marked as &quot;not measured&quot; and set the competition
&quot;Measurement Start Time&quot; to right now. This is useful when a reweigh of
robots is required." {{action "setMeasurementTime" this.model}}>
    Set Measurment Time
  </button>
  <b>&nbsp;&nbsp;&nbsp;&nbsp;Current Measurement Time:</b>
  {{moment-format this.model.registrationTime "LTS"}}
</p>
<hr>
<h3>Required Measurements</h3>
<table class="form">
  <thead>
    <th> Measurement </th>
    <th> Required </th>
  </thead>
  <tbody>
    <tr>
      <td>Mass:</td>
      <td>
        <input type="checkbox" name="model.measureMass" checked={{this.model.measureMass}} onchange={{action "toggleProperty" "measureMass"}}>
      </td>
    </tr>
    <tr>
      <td>Size:</td>
      <td>
        <input type="checkbox" name="model.measureSize" checked={{this.model.measureSize}} onchange={{action "toggleProperty" "measureSize"}}>
      </td>
    </tr>
    <tr>
      <td>Time:</td>
      <td>
        <input type="checkbox" name="model.measureTime" checked={{this.model.measureTime}} onchange={{action "toggleProperty" "measureTime"}}>
      </td>
    </tr>
    <tr>
      <td>Scratch:</td>
      <td>
        <input type="checkbox" name="model.measureScratch" checked={{this.model.measureScratch}} onchange={{action "toggleProperty" "measureScratch"}}>
      </td>
    </tr>
    <tr>
      <td>Deadman:</td>
      <td>
        <input type="checkbox" name="model.measureDeadMan" checked={{this.model.measureDeadman}} onchange={{action "toggleProperty" "measureDeadman"}}>
      </td>
    </tr>
  </tbody>
</table>
