<h2>{{this.model.longName}}</h2>
<h3>Competition Capacity</h3>
<p>
  {{#with (changeset this.model) as |changeset|}}
    <Input @value={{changeset.maxEntries}} type="number"/>
    <button title="This will commit the new maximum entries value." {{action "saveMaxEntries" changeset}}>
      Save
    </button>
  {{/with}}
</p>
<hr>
<h3>Restart Measurements</h3>
<p>
  <button title="Clicking this button will cause all robot in this
competition to be marked as &quot;not measured&quot; and set the competition
&quot;Measurement Start Time&quot; to right now. This is useful when a reweigh of
robots is required." {{action "setMeasurementTime" this.model}}>
    Set Measurment Time
  </button>
  <b>&nbsp;&nbsp;&nbsp;&nbsp;Current Measurement Time:</b>
  {{moment-format this.model.registrationTime "LTS"}}
</p>
<hr>
<h3>Required Measurements</h3>
<table class="form">
  <thead>
    <th> Measurement </th>
    <th> Required </th>
  </thead>
  <tbody>
    <tr>
      <td>Mass:</td>
      <td>
        <input type="checkbox" name="model.measureMass" checked={{this.model.measureMass}} onchange={{action "toggleProperty" "measureMass"}}>
      </td>
    </tr>
    <tr>
      <td>Size:</td>
      <td>
        <input type="checkbox" name="model.measureSize" checked={{this.model.measureSize}} onchange={{action "toggleProperty" "measureSize"}}>
      </td>
    </tr>
    <tr>
      <td>Time:</td>
      <td>
        <input type="checkbox" name="model.measureTime" checked={{this.model.measureTime}} onchange={{action "toggleProperty" "measureTime"}}>
      </td>
    </tr>
    <tr>
      <td>Scratch:</td>
      <td>
        <input type="checkbox" name="model.measureScratch" checked={{this.model.measureScratch}} onchange={{action "toggleProperty" "measureScratch"}}>
      </td>
    </tr>
  </tbody>
</table>
