<h2>{{this.model.longName}}</h2>
<h3>Competition Capacity</h3>
<p>
  {{#let (changeset this.model) as |changeset|}}
    <table class="form">
      <tbody>
        <tr>
          <td><b>Rings:</b></td>
          <td><input
              id="Ring Count"
              value={{changeset.rings}}
              type="number"
              title="This is the number of rings that will be used."
            /></td>
        </tr>
        <tr>
          <td><b>Maximum Entries per ring:</b></td>
          <td><input
              id="Max Entries"
              value={{changeset.maxRobotsPerRing}}
              type="number"
              title="This is the maximum allowable number of robots in a given ring"
            /></td>
        </tr>
        <tr>
          <td><b>Minimum Entries per ring:</b></td>
          <td><input
              id="Min Entries"
              value={{changeset.minRobotsPerRing}}
              type="number"
              title="This is the maximum allowable number of robots in a given ring"
            /></td>
        </tr>
        <tr>
          <td><b>Maximum Entries:</b></td>
          <td>{{this.model.maxEntries}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" {{on "click" (fn this.save changeset)}}>Save</button>
    <button
      type="button"
      {{on "click" (fn this.rollback changeset)}}
    >Undo</button>
  {{/let}}
</p>
<hr />
<h3>Restart Measurements</h3>
<p>
  <button
    type="button"
    {{on "click" (fn this.resetMeasurementTime this.model)}}
  >
    Set Measurment Time
  </button>
  <b>Current Measurement Time:</b>
  {{moment-format this.model.registrationTime "YYYY MMM DD, h:mm:ss"}}
</p>
<hr />
<h3>Required Measurements</h3>
<table class="form">
  <thead>
    <th> Measurement </th>
    <th> Required </th>
  </thead>
  <tbody>
    <tr>
      <td>Mass:</td>
      <td>
        <input
          id="Mass"
          type="checkbox"
          name="model.measureMass"
          checked={{this.model.measureMass}}
          {{on "click" (fn this.toggleMeasurement this.model "measureMass")}}
        />
      </td>
    </tr>
    <tr>
      <td>Size:</td>
      <td>
        <input
          id="Size"
          type="checkbox"
          name="model.measureSize"
          checked={{this.model.measureSize}}
          {{on "click" (fn this.toggleMeasurement this.model "measureSize")}}
        />
      </td>
    </tr>
    <tr>
      <td>Time:</td>
      <td>
        <input
          id="Time"
          type="checkbox"
          name="model.measureTime"
          checked={{this.model.measureTime}}
          {{on "click" (fn this.toggleMeasurement this.model "measureTime")}}
        />
      </td>
    </tr>
    <tr>
      <td>Scratch:</td>
      <td>
        <input
          id="Scratch"
          type="checkbox"
          name="model.measureScratch"
          checked={{this.model.measureScratch}}
          {{on "click" (fn this.toggleMeasurement this.model "measureScratch")}}
        />
      </td>
    </tr>
    <tr>
      <td>Deadman:</td>
      <td>
        <input
          id="deadman"
          type="checkbox"
          name="model.measureDeadMan"
          checked={{this.model.measureDeadman}}
          {{on "click" (fn this.toggleMeasurement this.model "measureDeadman")}}
        />
      </td>
    </tr>
  </tbody>
</table>
<hr />
<h3>Winners Certificates</h3>
<form aria-label="Download Winners Certificates" {{on "submit" (fn this.downloadCertificates true)}}>cd
  <div>
    <label for="place1">1st place Robot's ID:</label>
    <input
      type="text"
      id="place1"
      placeholder="Ex:403"
      size="10"
      value={{this.place1}}
      autocomplete="off"
    />
    <label for="place2">2nd place Robot's ID::</label>
    <input
      type="text"
      id="place2"
      placeholder="Ex:398"
      size="10"
      value={{this.place2}}
      autocomplete="off"
    />
    <label for="place3">3rd place Robot's ID:</label>
    <input
      type="text"
      id="place3"
      placeholder="Ex:410"
      size="10"
      value={{this.place3}}
      autocomplete="off"
    />
  </div>
  <div><button type="submit">Download Certificates</button></div>
</form>
<hr />
<h3>Label Sheets</h3>
<div>
  <button type="button" {{on "click" (fn this.downloadLabels true)}}>Download Labels (PDF)</button>
  <button type="button" {{on "click" (fn this.downloadLabels false)}}>Download Labels (libreoffice)</button>
</div>
<hr />
<h3>Participation Certificates</h3>
<div>
  <button type="button" {{on "click" (fn this.downloadParticipationCertificates true)}}>Download Participation Certificates (PDF)</button>
  <button type="button" {{on "click" (fn this.downloadParticipationCertificates false)}}>Download Participation Certificates (libreoffice)</button>
</div>
<hr />
{{#if this.isRoundRobin}}
  <h3>Score Sheet</h3>
  <div>
    <button type="button" {{on "click" (fn this.downloadScoreSheet true)}}>Download Score Sheet (PDF)</button>
    <button type="button" {{on "click" (fn this.downloadScoreSheet false)}}>Download Score Sheet (libreoffice)</button>
  </div>
  <hr />
  <h3>Slot Checked In Entries</h3>
  <form aria-label="Slot checked in entries" {{on "submit" this.slotCheckedInRings}}>
    <div>
      <label for="number_rings">Number of Rings:</label>
      <input
        aria-label="Number of Rings"
        type="number"
        value={{this.number_rings}}
         {{on "change" (val (fn (mut this.number_rings)))}}
        autocomplete="off"
        required
      />
    </div>
    <div>
      <button type="submit">Slot Checked In Entries</button>
    </div>
  </form>
  <hr />
  <h3>Reset Competition RingAssignments</h3>
  <div>
    <button type="button" {{on "click" this.resetRingAssignments }}>Reset Ring Assignments</button>
  </div>
  <hr />
{{/if}}