<h2>{{this.model.longName}}</h2>
<p>
  Total spaces: {{this.model.maxEntries}}<br>
  Competitors Registered: {{this.model.robotCount}}<br>
  Competitors Checked-in: {{this.model.robotCountCheckedIn}}<br>
  Spaces Unclaimed: {{this.model.unclaimedSpaces}}<br>
  Spaces Not Checked-in: {{this.model.uncheckedinSpaces}}<br>

  Measurment Start Time: {{moment-format this.model.registrationTime "LTS"}}<br>
  <LinkTo @route="robots.new" @query={{hash competition=this.model.name}}>New Entry</LinkTo><br><br>
  Filter by robot name:{{input value=this.robotFilter}}<br>
</p>

<RobotListing
  @robots={{this.filteredRobotsByName}}
  @edit-link="robots.edit"
/>
