 <h2>Bulk Payment</h2>
 <table class="list">
   <tbody>
     {{#each-in this.coaches as |coach data|}}
       <tr>
         <td colspan="5">
           <h4>{{data.name}} - {{data.school}}
             <button title="Clicking this button will cause all entries for this coach to be marked as &quot;INVOICED&quot; - unless they've already paid." {{action "invoiceAll" data.email}}>
               Invoice All Entries
             </button>
           </h4>
         </td>
       </tr>
       <tr>
         <th>Robot</th>
         <th>Competition</th>
         <th>Driver</th>
         <th>Price</th>
         <th>Payment</th>
         <th>Participated</th>
       </tr>
       {{#each data.entries as |entry|}}
         <tr>
           <td><LinkTo @route="robots.edit" @model={{entry.id}}>{{entry.robot}}</LinkTo></td>
           <td>{{entry.competition.name}}</td>
           <td>{{entry.driver1}}</td>
           <td>{{entry.formattedInvoicedDollars}}</td>
           <td>{{entry.paymentType}}</td>
           <td>{{if entry.participated "✓"}}</td>
         </tr>
       {{/each}}
       <tr>
         <td></td>
         <td></td>
         <td></td>
         <td><b>Invoiced:</b></td>
         <td>${{data.invoiced}}.00</td>
       </tr>
       <tr></tr>
     {{/each-in}}
   </tbody>
 </table>
