 <h2>Bulk Payment</h2>
 <table class="list">
   <tbody>
     {{#each-in this.coaches as |coach data|}}
       <tr>
         <td colspan="5">
           <h4>{{data.name}} - {{data.school}}</h4>
         </td>
       </tr>
       <tr>
         <th>Robot</th>
         <th>Competition</th>
         <th>Driver</th>
         <th>Price</th>
         <th>Payment</th>
         <th>Particpated</th>
       </tr>
       {{#each data.entries as |entry|}}
         <tr>
           <td>{{#link-to "robots.edit" entry.id}}{{entry.robot}}{{/link-to}}</td>
           <td>{{entry.competition.name}}</td>
           <td>{{entry.driver1}}</td>
           <td>{{entry.formattedInvoicedDollars}}</td>
           <td>{{entry.paymentType}}</td>
           <td>{{if entry.participated "✓"}}</td>
         </tr>
       {{/each}}
       <tr>
         <td></td>
         <td></td>
         <td></td>
         <td><b>Invoiced:</b></td>
         <td>${{data.invoiced}}.00</td>
       </tr>
       <tr></tr>
     {{/each-in}}
   </tbody>
 </table>
