<h2>Robot: "{{this.model.robot.name}}"</h2>
<hr>

<p>Competition
  <select id="competition" {{on "change" (val (fn this.updateCompetition this.model.robot))}}>
    <option value="" selected={{eq @this.model.robot.competition.id ""}} disabled={{true}}>
      Select competition
    </option>
    {{#each this.model.competition as |c|}}
      <option value={{c.id}} selected={{eq this.model.robot.competition.id c.id}}>
        {{c.name}}
      </option>
    {{/each}}
  </select>
</p>

{{#let (changeset this.model.robot this.RobotValidation) as |c|}}
  <RobotDetail @changeset={{c}}/>
  <button type="button" {{on "click" (fn this.rollback c)}}>Undo</button>
  <button disabled={{c.isInvalid}} type="button" {{on "click" (fn this.save c)}}>
    Save Changes
  </button>
{{/let}}
<hr>
<RobotCheckin @data={{this.model.robot}} />
<hr>
<RobotPayment @data={{this.model.robot}} />
<hr>
<RobotMeasurement @data={{this.model.robot}} />
<hr>
<button type="button" {{on "click" (fn this.done this.model.robot.competition)}}>Done</button>
