<h2>Robot: "{{this.model.robot.robot}}"</h2>
<hr>
<RobotDetail @data={{this.model.robot}} @competitions={{this.model.competitions}} />
<hr>
<RobotCheckin @data={{this.model.robot}} />
<hr>
<RobotPayment @data={{this.model.robot}} />
<hr>
<RobotMeasurement @data={{this.model.robot}} />
<hr>
<button {{action "done" this.model.robot.competition}}>Done</button>
