<h2>Robot: "{{this.model.robot.name}}"</h2>
<hr>
{{#with (changeset this.model.robot this.RobotValidation) as |c|}}
  <RobotDetail @changeset={{c}} @competitions={{this.model.competitions}} />
  <button {{on "click" (fn this.rollback c)}}>Undo</button>
  <button {{on "click" (fn this.save c)}} disabled={{c.isInvalid}}>
    Save Changes
  </button>
{{/with}}
<hr>
<RobotCheckin @data={{this.model.robot}} />
<hr>
<RobotPayment @data={{this.model.robot}} />
<hr>
<RobotMeasurement @data={{this.model.robot}} />
<hr>
<button {{on "click" (fn this.done this.model.robot.competition)}}>Done</button>
