{{this.poll this.refreshData 4000}}

<h2 data-test-header>Index</h2>
<div>
  <table>
    <tbody>
      <tr>
        <td colspan="2"><b>Filters:</b></td>
      </tr>
      <tr>
        <td>Robot Name:</td>
        <td><Input id="Name" @value={{this.robotFilter}} /></td>
        <td>School:</td>
        <td><Input id="School" @value={{this.schoolFilter}} /></td>
        <td>ID:</td>
        <td><Input id="ID" @value={{this.robotIDFilter}} /></td>
      </tr>
    </tbody>
  </table>
</div>

<RobotListing @robots={{this.filteredRobots}} />

<table>
  <tbody>
    <tr>
      <td> Invoiced Total: </td>
      <td> {{this.invoicedTotal}}</td>
    </tr>
    <tr>
      <td>Paid Total</td>
      <td>{{this.paidTotal}}</td>
    </tr>
  </tbody>
</table>

{{outlet}}
