<h2>Index</h2>
<div>
  <table>
    <tbody>
      <tr>
        <td colspan="2"><b>Filters:</b></td>
      </tr>
      <tr>
        <td>Robot Name:</td>
        <td>{{input value=this.robotFilter}}</td>
        <td>School:</td>
        <td>{{input value=this.schoolFilter}}</td>
        <td>ID:</td>
        <td>{{input value=this.robotIDFilter}}</td>
      </tr>
    </tbody>
  </table>
</div>

<table class="list">
  <thead>
    <tr>
      <th>#</th>
      <th>Robot</th>
      <th>Competition</th>
      <th>School</th>
      <th>Driver</th>
      <th>Late</th>
      <th>Invoiced</th>
      <th>Paid</th>
      <th>Signed In</th>
      <th>Measured</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.filteredRobots as |item|}}
      <RobotListing @edit-link="robots.edit" @item={{item}}/>
    {{/each}}
    <tr>
      <td><b>TOTAL:</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><b>{{this.invoicedTotal}}</b></td>
      <td><b>{{this.paidTotal}}</b></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
{{outlet}}
