<h2>Index</h2>
<div>
  <table>
    <tbody>
      <tr>
        <td colspan="2"><b>Filters:</b></td>
      </tr>
      <tr>
        <td>Robot Name:</td>
        <td>{{input value=this.robotFilter}}</td>
        <td>School:</td>
        <td>{{input value=this.schoolFilter}}</td>
        <td>ID:</td>
        <td>{{input value=this.robotIDFilter}}</td>
      </tr>
    </tbody>
  </table>
</div>

<RobotListing @edit-link="robots.edit" @robots={{this.filteredRobots}} />

<table>
  <tbody>
    <tr>
      <td> Invoiced Total: </td>
      <td> {{this.invoicedTotal}}</td>
    </tr>
    <tr>
      <td>Paid Total</td>
      <td>{{this.paidTotal}}</td>
    </tr>
  </tbody>
</table>

{{outlet}}
