<p>{{model.longName}}</p>
<table class='list'>
<th>Name</th><th>School</th><th>Driver</th><th>Signed-In</th>
{{#each sortedAssignments as |item|}}
	<tr class={{if item.withdrawn "strikeout" "normal"}}>
	<td>{{item.robot}}</td>
	<td>{{item.school}}</td>
	<td>{{item.driver1}}</td>
	<td>{{item.formattedSignedIn}}</td>
	</tr>
{{/each}}
</table>