{{page-title "Documents"}}
<h2>Documents</h2>
{{!-- Robot Labels --}}
<h3 data-test-header="Robot Labels">Robot Labels</h3>
<div>
  <button
    type="button"
    {{on "click" (fn this.downloadLabels true)}}
  >Download Robot Labels (PDF)</button>
  <button
    type="button"
    {{on "click" (fn this.downloadLabels false)}}
  >Download Robot Labels (libreoffice)</button>
</div>
<hr />

{{!-- Participation Certificates --}}
<h3 data-test-header="Participation Certificates">Participation Certificates for all Participants</h3>
<p>
  Note: Participation Certificates are only available for participants who have checked in.
</p>
<div>
  <button
    type="button"
    {{on "click" (fn this.downloadParticipationCertificates true)}}
  >Download Participation Certificates (PDF)</button>
  <button
    type="button"
    {{on "click" (fn this.downloadParticipationCertificates false)}}
  >Download Participation Certificates (libreoffice)</button>
</div>
<hr />

{{!-- Volunteer Certificate --}}
<h3 data-test-header="Volunteer Certificate">Volunteer Certificate</h3>
<div>
  <div>
    <label for="name">Volunteer Name:</label>
    <input
      type="text"
      id="name"
      placeholder="Enter name"
      size="30"
      autocomplete="off"
      required
      {{on "change" this.updateVolunteerName}}
    />
  </div>
  <br />
  <button
    type="button"
    {{on
      "click"
      (fn this.downloadVolunteerCertificate true)
    }}
  >Download Volunteer Certificate (PDF)</button>
  <button
    type="button"
    {{on
      "click"
      (fn this.downloadVolunteerCertificate false)
    }}
  >Download Volunteer Certificate (libreoffice)</button>
</div>