{{page-title "Documents"}}
<h2>Documents</h2>
<h3 data-test-header="Robot Labels">Robot Labels</h3>
<div>
  <button
    type="button"
    {{on "click" (fn this.downloadLabels true)}}
  >Download Robot Labels (PDF)</button>
  <button
    type="button"
    {{on "click" (fn this.downloadLabels false)}}
  >Download Robot Labels (libreoffice)</button>
</div>
<hr />
<h3 data-test-header="Participation Certificates">Participation Certificates for all Participants</h3>
<p>
  Note: Participation Certificates are only available for participants who have checked in.
</p>
<div>
  <button
    type="button"
    {{on "click" (fn this.downloadParticipationCertificates true)}}
  >Download Participation Certificates (PDF)</button>
  <button
    type="button"
    {{on "click" (fn this.downloadParticipationCertificates false)}}
  >Download Participation Certificates (libreoffice)</button>
</div>
<hr />

<h3 data-test-header="Event Participation Certificates">Participation Certificates for an Event</h3>
<div>
  <label for="event_id">Event ID (ex:LFS):</label>
  <input
    id="event_id"
    type="text"
    placeholder="Event ID"
    {{on "input" this.updateEventId}}
  >

  <div>
    <button
      type="button"
      {{on "click" (fn this.downloadEventParticipationCertificates true)}}
    >
      Download Participation Certificates for an Event (PDF)
    </button>
    <button
      type="button"
      {{on "click" (fn this.downloadEventParticipationCertificates false)}}
    >
      Download Participation Certificates for an Event (libreoffice)
    </button>
  </div>
</div>
<hr />
<h3 data-test-header="Volunteer Certificate">Volunteer Certificate</h3>
<div>
  <div>
    <label for="name">Volunteer Name:</label>
    <input
      type="text"
      id="name"
      placeholder="Enter name"
      size="30"
      autocomplete="off"
      required
      {{on "input" this.updateVolunteerName}}
    />
  </div>
  <br />
  <button
    type="button"
    {{on
      "click"
      (fn this.downloadVolunteerCertificate true)
    }}
  >Download Volunteer Certificate (PDF)</button>
  <button
    type="button"
    {{on
      "click"
      (fn this.downloadVolunteerCertificate false)
    }}
  >Download Volunteer Certificate (libreoffice)</button>
</div>