<h3 data-test-header>{{this.model.longName}}</h3>
{{#unless this.model.length }}
  <p>No ring assignments</p>
{{/unless}}
<table data-test-table class="list">
  <thead>
    <th>Name</th>
    <th>Ring</th>
    <th>ID</th>
    <th>Driver</th>
  </thead>
  <tbody>
    {{#each this.model as |tournament|}}
      {{#each tournament.ringAssignments as |rignAssignment|}}
      <tr>
        <td>{{rignAssignment.robot.name}}</td>
        <td>{{tournament.ring}}</td>
        <td>{{rignAssignment.letter}}</td>
        <td>{{rignAssignment.robot.driver1}}</td>
      </tr>
      {{/each}}
    {{/each}}
  </tbody>
</table>
