{{!-- app/templates/robocritter-certificate.hbs --}}
<h2>Robocritter Certificate</h2>
<form class="certificate-form" {{on "submit" this.downloadCertificate}}>
  <div>
    <label for="player">Player Name:</label>
    <Input
      @type="text"
      id="player"
      placeholder="Enter your name"
      size="30"
      @value = {{this.player}}
      autocomplete="off"
      required
    />
  </div>
  <br />
  <div>
    <label for="robot">Robot Name:</label>
    <Input
      @type="text"
      id="robot"
      placeholder="Enter your robot's name"
      size="30"
      @value={{this.robot}}
      autocomplete="off"
      required
    />
  </div>
  <br />
  <div>
    <label for="minutes">Minutes:</label>
    <Input
      @type="number"
      id="minutes"
      @value={{this.minutes}}
      autocomplete="off"
      min="0"
      max="59"
      required
    />
  </div>
  <br />
  <div>
    <label for="seconds">Seconds:</label>
    <Input
      @type="number"
      id="seconds"
      @value={{this.seconds}}
      autocomplete="off"
      min="0"
      max="59"
      required
    />

  </div>
  <br />
  <div><button type="submit">Download Certificate</button></div>
</form>